.hamburg {
    position: fixed;
    z-index: 20;
}

label.hamburg { 
    display: block;
    background: #555; 
    width: 44px; 
    height: 48px; 
    position: fixed; 
    margin-left: 1px;
    border-radius: 4px; 
    opacity: 1;
}

.line { 
    position: absolute; 
    left: 10px;
    height: 3px; 
    width: 25px; 
    background: #fff; 
    border-radius: 2px;
    display: block; 
    transition: 0.5s; 
    transform-origin: center; 
}

.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

.hamburg.clicked .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
}

.hamburg.clicked .line:nth-child(2) {
    opacity: 0;
}

.hamburg.clicked .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

#nav{
    display: none;
    position: fixed;
    flex-direction: column;
    width: 13.2rem;
    border: 1px solid black;
    height: 150vh;
    background-color: #dcc4d6;
    margin: 0;
    margin-left: -1rem;
    margin-top: -4rem;
    align-items: flex-start;
    z-index: 10;

    button a{
        background-color: #dcc4d6;
        text-decoration: none;
        color: black;
    }
}

#home{
    margin-top: 8rem;
}

#home::before{
    content: "\1F3E0";
}

#moments::before{
    content: "\2605";
    color: yellow;
    font-size: 1.9rem;
    margin: 0.2rem;
}

#chat::before{
    content: "\2709 ";
    color: purple;
    margin: 0.3rem;
}

#memory::before{
    content: "\1F0CF";
}

#home,
#moments,
#chat,
#memory{
    border: none;
    background-color: #dcc4d6;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.active::after{
    content: " \261A";
    margin-left: 0.3rem;
    color: black;
    display: inline-block;
    animation: moveRight 1s ease infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}